node_modules
dist
.output
.nitro
.cache
.vite

.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
.idea/

*.log
coverage/
.temp/
